* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #2c3e50;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

.middle {
    display: flex;
    flex: 1;
}

aside {
    background: #ecf0f1;
    width: 250px;
    padding: 1.5rem;
}

aside ul {
    margin-top: 1rem;
    list-style: none;
}

aside li {
    margin-bottom: 0.5rem;
}

main {
    background: white;
    flex: 1;
    padding: 1.8rem;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 700px) {
    .middle {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}